/* ----------- font declarations ----------- */

@font-face {
    font-family: 'Sailec';
    src: url('/fonts/sailec/sailec.eot?#iefix') format('embedded-opentype'), url('/fonts/sailec/sailec.woff') format('woff'), url('/fonts/sailec/sailec.woff2') format('woff2');
}
@font-face {
    font-family: 'Sailec Bold';
    src: url('/fonts/sailec_bold/sailec_bold.eot?#iefix') format('embedded-opentype'), url('/fonts/sailec_bold/sailec_bold.woff') format('woff'), url('/fonts/sailec_bold/sailec_bold.woff2') format('woff2');
}

/* ----------- core ----------- */

html, body {
    background-color: #F7F7F7;
    color: #4A4A4A;
    font-family: "Sailec", "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.3em;
    font-size: 100%;
}
h1 {
    text-align: center;
    font-family: "Sailec Bold", "Helvetica Neue", Helvetica, Arial;
}
hr {
    display: block;
    height: 1px;
    border: 0;
    padding: 0;
    border-top: 1px solid;
    border-color: rgba(151, 151, 151, 0.5);
    margin: 4em 0 4em 0;
}
p {
    width: 60%;
    line-height: 2em;
    margin: 2em auto;
}
a {
    color: #4A4A4A;
    text-decoration: none;
}
section {
    margin: 2em 0 2em 0;
}
.container {
    width: 80%;
    margin: 0 auto;
}

.client_area a {
  color: #A07A00;
}

.client_area a:hover {
  text-decoration:underline;
}

/* ----------- header ----------- */

header {
    width: 100%;
    background-color: #FFCA21;
    text-align: center;
    padding: 0 0 3em 0;
}
header h1 {
    line-height: 1em;
    font-size: 4.5em;
    padding: 1em 0 0 0;
}
header p {
    text-transform: uppercase;
    letter-spacing: .3em;
    padding: 1.5em 0 0 0;
    line-height: 1.5em;
}
header .phone {
    letter-spacing: .1em;
}


.logo {
  width: 5em;
  margin: 4em 0 0 0;
  /*padding: 4em 0 0 0;*/
  /*max-width: 100%;*/
}

/* ----------- landing page headline ----------- */

.headline {
    font-size: 2em;
    color: #9B9B9B;
}
.headline p {
    width: 100%;
    line-height: 1.5em;
}
.headline span {
    color: #4A4A4A;
    line-height: normal;
}
.headline hr {
    margin: 1.5em 0 0 0;
}

/* ----------- main content area on landing page ----------- */

.content_area {
    margin: 0 auto;
}
.content_area img {
    width: 20em;
    max-width: 100%;
    display: block;
    margin: 0 auto;
    padding: 0 0 3em 0;
}

/* ----------- client page area ----------- */

.client_area h2 {
    text-align: center;
    font-size: 2em;
    margin: 2.5em 0 .6em 0;
    line-height: 1.4em;
}
.client_area h1:nth-child(2n) {
    margin: 5em 0 0 0;
}

/* ----------- clients grid ----------- */

.clients_container {
    display: -webkit-flex;
    display: flex;
    width: 100%;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: center;
    justify-content: center;
    margin: 2em 0 4em 0;
}
.clients_container .box img {
    border: 1px solid #ccc;
    margin: 1em;
    width: 17em;
    max-width: 100%;
}

/* ----------- footer ----------- */

footer {
    background-color: #FFCA21;
    width: 100%;
    text-align: center;
    padding: 0 0 2em 0;
}
footer hr {
    margin: 0;
    padding: 0;
    margin: 0 10% 2em 10%;
}

/* ----------- email button ----------- */

.btn {
    border: none;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background: none;
    cursor: pointer;
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 1px;
    outline: none;
    position: relative;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}
.email-btn {
    display: block;
    margin: 2.5em auto;
    color: #FFEBC0;
    letter-spacing: .2em;
    background-color: #424242;
    border-radius: .3em;
    width: 10em;
    padding: 1.5em 1.5em;
    text-align: center;
}
.btn span {
    display: block;
    margin: .3em 0 0 0;
}

/* ----------- fixes ----------- */

.txcenter {
    text-align: center;
    display: block;
}
.more_clients {
    margin: 6em 0 0 0;
}

.header-bottom h1 {
  font-size: 3em;
  padding: 1.5em 0 0 0;
}

.header-bottom p {
  padding: 0;
}

.grow {
    transition: all .2s ease-in-out;

}
.grow:hover {
    transform: scale(1.1);

}

.mask {
  overflow: hidden;
}



/*-------------MEDIA QUERIES-------------*/

@media only screen and (max-width: 430px) {
  header h1 {
    font-size: 2em;
  }
  header p {
    padding: 0;
  }
  p {
      width: 100%;
  }
  .headline {
      font-size: 1.6em;
      line-height: 1.8em;
  }
  .header-bottom h1 {
    font-size: 2em;
  }
  .header-bottom p {
    padding: 0;
  }
  .logo {
    width: 3em;
    margin: 3em 0 0 0;
  }

}


/* iPhone 6, 6+, Nex 6p, 5x  land port */

@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {
    .content_area, .client_area p {
        width: 100%;
    }
    header h1 {
        font-size: 2em;
        margin: 0;
        padding: 0;
        padding-top: 0;
    }

    header p {
      width: 90%;
    }
    .headline {
        font-size: 1.6em;
        line-height: 1.8em;
    }
    .client_area h2 {
        line-height: 1.5em;
    }
    .clients_container .box img {
        width: 16em;
        margin: 1em;
    }
    p {
        width: 100%;
    }
    .header-bottom h1 {
      font-size: 2em;
      margin: 0;
    }
    .header-bottom p {
      padding: 0;
      width: 90%;
    }

}

/*Landscape*/

@media only screen and (min-device-width: 375px) and (max-device-width: 773px) and (orientation: landscape) {
    header h1 {
        font-size: 2em;
        padding: 2.5em 0 0 0;
    }
    .clients_container {
        width: 100%;
    }
    .clients_container .box img {
        width: 16em;
        margin: .5em;
    }
    p {
        width: 90%;
    }
}

/* iPhone 5, Galaxy s5 */

@media only screen and (min-device-width: 320px) and (max-device-width: 568px) {
    .content_area, .client_area p {
        width: 100%;
    }
    header h1 {
        font-size: 2em;
        padding: 1em 0 0 0;
    }
    .headline {
        font-size: 1.6em;
        line-height: 1.8em;
    }
    .client_area h2 {
        line-height: 1.5em;
    }
    .clients_container {
        width: 100%;
    }
    .clients_container .box img {
        width: 14em;
        margin: .5em;
    }
    p {
        width: 100%;
    }
    .logo {
      width: 3em;
    }

}

/* iPad */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
  header h1 {
    font-size: 3em;
    margin: 0 0 0 0;
  }
  header p {
    padding: 0;
  }
  p {
    width: 80%;
  }
}

@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (orientation: landscape)
  and (-webkit-min-device-pixel-ratio: 2) {
    header h1{
      font-size: 4em;

    }
    p {
      width: 60%;
    }
}

@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (orientation: landscape)
  and (-webkit-min-device-pixel-ratio: 1) {
    header h1{
      font-size: 4em;
      padding: 1em 0 0 0;
    }
    p {
      width: 60%;
    }
}
