html, body {
  background-color: #F7F7F7;
  color: #4A4A4A;
  font-family: "Sailec";
  line-height: 1.3em;
  font-size: 100%;
}

header {
  width: 100%;
  background-color: #FFCA21;
  text-align: center;
  padding: 0 0 4em 0;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  padding: 0;
  border-top: 1px solid;
  border-color: rgba(151, 151, 151, 0.5);
}


.clients_container {
  display: -webkit-flex;
  display: flex;
  width: 100%;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: center;
  justify-content: center;
  margin: 2em 0 4em 0;
}

.clients_container .box img {
  border: 1px solid #ccc;
  margin: 1em;
  width: 17em;
  max-width: 100%;

}

footer hr {

    margin-left: 10%;
    margin-right: 10%;

}

footer {
  width: 100%;
  background-color: #FFCA21;
}

footer span {
  display: block;
  text-align: center;
}

footer p {
  padding: 1em 0 1em 0;
  text-align: center;
}

header h1 {
  font-weight: bold;
  font-size: 5em;
  padding: 1.5em 0 0 0;
  line-height: 1em;
}

header p {
  text-transform: uppercase;
  letter-spacing: .3em;
  display: block;
  padding: 2em 0 0 0;
  line-height: 1.5em;
}

header a {
  letter-spacing: .1em;
}


a {
  color: #4A4A4A;
  text-decoration: none;
}

.btn {
	border: none;
	font-family: inherit;
	font-size: inherit;
	color: inherit;
	background: none;
	cursor: pointer;
	display: inline-block;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 700;
	outline: none;
	position: relative;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.headline {
  font-size: 2em;
  color: #9B9B9B;
  line-height: 1.5em;
}

.headline p {
  text-align: center;
}

.headline span {
  color: #4A4A4A;
  line-height: normal;
}

.headline hr {
  margin: 1.5em 0 0 0;
}

section {
  margin: 2em 0 2em 0;
}


.content_area img {
  width: 20em;
  max-width: 100%;
  display: block;
  margin: 0 auto;
  padding: 0 0 3em 0;
}

 h1 {
  text-align: center;
  font-weight: bold;
}

.content_area p {
  line-height: 2em;
  /*margin: 0 0 2em 0;*/
  width: 70%;
  margin: 2em auto;
}

.content_area hr {
  margin: 4em 0 4em 0;
}

.email-btn {
  display: block;
  margin: 2.5em auto;
  color: #FFEBC0;
  letter-spacing: .2em;
  background-color: #424242;
  padding: 25px 70px;
  border-radius: .3em;
}

.btn span {
  display: block;
  margin: .3em 0 0 0;
}

.container {
  width: 80%;
  margin: 0 auto;

}
